{% load static %}

<div class="ec-cart-content">
    <div class="ec-cart-inner">
        {% if carts %}
        <div class="row">
            <form action="">
                <div class="table-content cart-table-content">
                    <table>
                        <thead>
                            <tr>
                                <th>Товар</th>
                                <th>Цена</th>
                                <th style="text-align: center;">Количество</th>
                                <th>Итого</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for cart in carts %}
                            <tr>
                                <td data-label="Product" class="ec-cart-pro-name"><a
                                        href="product-left-sidebar.html"><img class="ec-cart-pro-img mr-4"
                                            src="{% static "assets/images/product-image/1.jpg" %}"
                                            alt="" />{{ cart.product.name }}</a></td>
                                <td data-label="Price" class="ec-cart-pro-price">
                                    {% if cart.product.discount %}
                                    <s>{{ cart.product.price }} ₽</s><br>
                                        <span class="amount">{{ cart.product.sell_price }} ₽</span>
                                    {% else %}
                                        <span class="amount">{{ cart.product.price }} ₽</span>
                                    {% endif %}
                                </td>
                                {% if show_btn %}
                                <td data-label="Quantity" class="ec-cart-pro-qty"
                                    style="text-align: center;">
                                    <div class="cart-qty-plus-minus">
                                        <input class="cart-plus-minus" type="text"
                                            name="cartqtybutton" 
                                            data-cart-id="{{ cart.id }}" 
                                            data-cart-change-url="{% url 'cart:cart_change' %}" 
                                            value="{{ cart.quantity }}" 
                                            readonly />
                                            {% csrf_token %}
                                        <div class="ec_cart_qtybtn">
                                            <div class="inc ec_qtybtn">+</div>
                                            <div class="dec ec_qtybtn">-</div>
                                        </div>
                                    </div>
                                </td>
                                {% else %}
                                 <td data-label="Quantity" class="ec-cart-pro-subtotal" style="text-align: center;">
                                    {{ cart.quantity }} шт.
                                </td>
                                {% endif %}
                                <td data-label="Total" class="ec-cart-pro-subtotal">{{ cart.products_price }} ₽</td>
                                {% if show_btn %}
                                <td data-label="Remove" class="ec-cart-pro-remove">
                                    <a href="{% url "cart:cart_remove" %}" class="remove-from-cart" 
                                    data-cart-id="{{ cart.id }}">
                                    {% csrf_token %}
                                    <i class="ecicon eci-trash-o"></i></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ec-cart-update-bottom">
                            <a href="{% url "catalog:search" "all" %}">Продолжить покупки</a>
                            {% if show_btn %}
                            <a href="{% url "orders:create_order" %}" class="btn btn-primary text-white text-decoration-none">Оформить заказ</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% else %}
            <p class="emp-cart-msg">Ваша корзина пуста</p>
            <a class="btn btn-primary" href="{% url "catalog:search" "all" %}">Начать покупки</a>
        {% endif %}
    </div>
</div>