{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block content %} 

    <!-- Ec breadcrumb start -->
    {% block breadcrumb %}
        {% include "includes/breadcrumb.html" %}
    {% endblock  %}
    <!-- Ec breadcrumb end -->
    
    <!-- Ec Shop page -->   
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                 <!--  Category Section Start -->
                <section class="section ec-category-section ec-category-wrapper-2 section-space-p">
                    <ul class="ec-cat-tab-nav nav">
                        {% if subcategory_types %}
                            {% for subcategory_type in subcategory_types %}
                            <li class="cat-item"><a class="cat-link" data-bs-toggle="tab" data-type-id="{{ subcategory_type.id }}" href="{% url 'goods:filter_products_by_type'%}">
                                    <div class="cat-icons"><img class="cat-icon" src="{% static "assets/images/icons/cat_1.png" %}"
                                            alt="cat-icon"><img class="cat-icon-hover" src="{% static "assets/images/icons/cat_1_1.png" %}"
                                            alt="cat-icon"></div>
                                    <div class="cat-desc"><span>{{ subcategory_type.name }}</span><span>Количество товаров: {% products_count_type subcategory_type.id %}</span></div>
                                </a>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>           
                </section>
                <!-- Category Section End -->
                <div class="ec-shop-leftside col-lg-12 col-md-12 order-lg-first order-md-last">
                    <div id="shop_sidebar">
                        <div class="ec-sidebar-heading">
                            <h1>Фильтрация</h1>
                        </div>
                        <form action="{% if request.GET.q %}{% url 'goods:search' subcategory_slug %}{% endif %}" method="get">
                            
                            <div class="ec-sidebar-wrap">
                                <!-- Sidebar Category Block -->
                                <div class="ec-sidebar-block">
                                    <div class="ec-sb-title">
                                        <h3 class="ec-sidebar-title">Бренды</h3>
                                    </div>
                                    <div class="ec-sb-block-content">
                                        <ul>
                                            {% if brands %}
                                                {% for brand in brands %}
                                                <li>
                                                    <div class="ec-sidebar-block-item">
                                                        <input type="checkbox" name="brand" value="{{ brand.slug }}"
                                                            {% for b in all_brands %}{% if b == brand.slug %} checked {% endif %}{% endfor %}/>                                                        
                                                            <p class="ms-4 mb-0">{{ brand.name }}</p><span
                                                            class="checked"></span>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            {% else %}
                                                <li>Бренды не добавлены</li>
                                            {% endif %}                                        
                                        </ul>
                                    </div>
                                </div>  
                                <div class="ec-sidebar-block">
                                    <div class="ec-sb-title">
                                        <h3 class="ec-sidebar-title">Наличие скидок</h3>
                                    </div>
                                    <div class="ec-sb-block-content">
                                        <ul>
                                            <li>
                                            
                                                <div class="ec-sidebar-block-item">
                                                    <input type="checkbox" name="discount" value="on" {% if request.GET.discount == 'on' %} checked {% endif %}/><p class="ms-4 mb-0">Есть</p><span
                                                        class="checked"></span>
                                                </div>
                                                
                                            </li>                                       
                                        </ul>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-3">Применить</button>
                                    <a class="btn btn-outline-secondary mt-3" type="button" href="{% url 'goods:search' subcategory_slug %}">Сбросить</a>
                                </div>                            
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="ec-shop-rightside order-lg-last order-md-first margin-b-30">
                    <!-- Shop Top Start -->
                    <div class="ec-pro-list-top d-flex">
                        <div class="col-md-6 ec-grid-list">
                            <div class="ec-gl-btn">
                                <button class="btn btn-grid active"><img src="{% static "assets/images/icons/grid.svg" %}"
                                        class="svg_img gl_svg" alt="" /></button>
                                <button class="btn btn-list"><img src="{% static "assets/images/icons/list.svg" %}"
                                        class="svg_img gl_svg" alt="" /></button>
                            </div>
                        </div>
                        <div class="col-md-6 ec-sort-select">
                            <span class="sort-by">Сортировка</span>
                            <form action="{% if request.GET.q %}{% url 'goods:search' subcategory_slug %}{% endif %}" method="get">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="ec-select-inner mt-1">
                                            <select name="order_by" id="ec-select">
                                                <option {% if not request.GET.order_by or request.GET.order_by == 'default' %} selected {% endif %} name="order_by" value="default">По умолчанию</option>
                                                <option  {% if request.GET.order_by == 'price' %} selected {% endif %} name="order_by" value="price">От дешевых к дорогим</option>
                                                <option {% if request.GET.order_by == '-price' %} selected {% endif %} name="order_by" value="-price">От дорогих к дешевым</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <button class="btn btn-primary" type="submit">ОК</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Shop Top End -->
                    <div class="shop-pro-content" id="catalog-container">
                        <!-- Разметка каталога -->
                        {% include "goods/includes/included_catalog.html" %}
                        <!-- Закончилась разметка каталога -->
                        
                        {% if products %}
                        <!-- Ec Pagination Start -->
                        <div class="ec-pro-pagination justify-content-end">
                            <ul class="ec-pro-pagination-inner">
                                <li><a class="next {% if not products.has_previous %} disabled {% endif %}"
                                    href="{% if products.has_previous %}?{% change_params page=products.previous_page_number %}
                                    {% else %}
                                    #
                                    {% endif %}"><i class="ecicon eci-angle-left"></i>&nbspНазад</a></li>
                                    {% for page in products.paginator.page_range %}
                                        {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
                                        <li><a class="{% if products.number == page %} active {% endif %}" href="?{% change_params page=page %}">
                                            {{ page }}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
        
                                <li><a class="next {% if not products.has_next %} disabled {% endif %}" 
                                    href="{% if products.has_next %}?{% change_params page=products.next_page_number %}
                                    {% else %}
                                    #
                                    {% endif %}">Далее <i class="ecicon eci-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- Ec Pagination End -->
                        {% endif %}
                    </div>
                </div>
            </div>
            
        </div>
    </div>
        
{% endblock %}