{% extends "base.html" %}
{% load static %}

{% block content %} 

    <!-- Ec breadcrumb start -->
    {% block breadcrumb %}
        {% include "includes/breadcrumb.html" %}
    {% endblock  %}
    <!-- Ec breadcrumb end -->
    
    <!-- Ec Shop page -->   
    <div class="container">
        <div class="row">

            <div class="col-lg-3">
                 <!--  Category Section Start -->
                <section class="section ec-category-section ec-category-wrapper-2 section-space-p">
                    <ul class="ec-cat-tab-nav nav">
                        {% if subcategory_types %}
                            {% for subcategory_type in subcategory_types %}
                            <li class="cat-item"><a class="cat-link" data-bs-toggle="tab" href="#tab-cat-1">
                                    <div class="cat-icons"><img class="cat-icon" src="{% static "assets/images/icons/cat_1.png" %}"
                                            alt="cat-icon"><img class="cat-icon-hover" src="{% static "assets/images/icons/cat_1_1.png" %}"
                                            alt="cat-icon"></div>
                                    <div class="cat-desc"><span>{{ subcategory_type.name }}</span><span>440 Products</span></div>
                                </a>
                            </li>
                            {% endfor %}
                        {% endif %}
                    </ul>           
                </section>
                <!-- Category Section End -->
                <div class="ec-shop-leftside col-lg-12 col-md-12 order-lg-first order-md-last">
                    <div id="shop_sidebar">
                        <div class="ec-sidebar-heading">
                            <h1>Фильтрация</h1>
                        </div>
                        <form action="{% if request.GET.q %}{% url 'goods:search' 'subcategory_slug' %}{% endif %}" method="get">
                            
                            <div class="ec-sidebar-wrap">
                                <!-- Sidebar Category Block -->
                                <div class="ec-sidebar-block">
                                    <div class="ec-sb-title">
                                        <h3 class="ec-sidebar-title">Бренды</h3>
                                    </div>
                                    <div class="ec-sb-block-content">
                                        <ul>
                                            {% if brands %}
                                                {% for brand in brands %}
                                                <li>
                                                    <div class="ec-sidebar-block-item">
                                                        <input type="checkbox" name="brand" value="{{ brand.slug }}"
                                                            {% for b in all_brands %}{% if b == brand.slug %} checked {% endif %}{% endfor %}/>                                                        
                                                            <p class="ms-4 mb-0">{{ brand.name }}</p><span
                                                            class="checked"></span>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            {% else %}
                                                <li>Бренды не добавлены</li>
                                            {% endif %}                                        
                                        </ul>
                                    </div>
                                </div>  
                                <div class="ec-sidebar-block">
                                    <div class="ec-sb-title">
                                        <h3 class="ec-sidebar-title">Наличие скидок</h3>
                                    </div>
                                    <div class="ec-sb-block-content">
                                        <ul>
                                            <li>
                                            
                                                <div class="ec-sidebar-block-item">
                                                    <input type="checkbox" name="discount" value="on" {% if request.GET.discount == 'on' %} checked {% endif %}/><p class="ms-4 mb-0">Есть</p><span
                                                        class="checked"></span>
                                                </div>
                                                
                                            </li>                                       
                                        </ul>
                                    </div>
                                    <button type="submit" class="btn btn-primary mt-3">Применить</button>
                                    <a class="btn btn-outline-secondary mt-3" type="button" href="{% url 'goods:search' subcategory_slug %}">Сбросить</a>
                                </div>                            
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="ec-shop-rightside order-lg-last order-md-first margin-b-30">
                    <!-- Shop Top Start -->
                    <div class="ec-pro-list-top d-flex">
                        <div class="col-md-6 ec-grid-list">
                            <div class="ec-gl-btn">
                                <button class="btn btn-grid active"><img src="{% static "assets/images/icons/grid.svg" %}"
                                        class="svg_img gl_svg" alt="" /></button>
                                <button class="btn btn-list"><img src="{% static "assets/images/icons/list.svg" %}"
                                        class="svg_img gl_svg" alt="" /></button>
                            </div>
                        </div>
                        <div class="col-md-6 ec-sort-select">
                            <span class="sort-by">Сортировка</span>
                            <form action="{% if request.GET.q %}{% url 'goods:search' 'subcategory_slug' %}{% endif %}" method="get">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="ec-select-inner mt-1">
                                            <select name="order_by" id="ec-select">
                                                <option {% if not request.GET.order_by or request.GET.order_by == 'default' %} selected {% endif %} name="order_by" value="default">По умолчанию</option>
                                                <option  {% if request.GET.order_by == 'price' %} selected {% endif %} name="order_by" value="price">От дешевых к дорогим</option>
                                                <option {% if request.GET.order_by == '-price' %} selected {% endif %} name="order_by" value="-price">От дорогих к дешевым</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        <button class="btn btn-primary" type="submit">ОК</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Shop Top End -->
                    <div class="shop-pro-content">
                        <div class="shop-pro-inner">
                            <div class="row">
                                <!-- Product Card starts -->
                            {% if products %}
                                {% for product in products %}
                                
                                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6 pro-gl-content">
                                    <div class="ec-product-inner">
                                        <div class="ec-pro-image-outer">
                                            <div class="ec-pro-image">
                                                <a href="product-left-sidebar.html" class="image">
                                                    
                                                    {% if product.images.first.image.url %}
        
                                                        <div class="catalog_block catalog_image">
                                                            <img class="main-image "
                                                                src="{{ product.images.first.image.url }}" alt="Product" />
                                                    
                                                            <img class="hover-image"
                                                                src="{{ product.images.first.image.url }}" alt="Product" />
                                                        </div>
                                                        
                                                    {% else %}
                                                        <img class="main-image"
                                                            src="{% static "assets/images/product-image/1_1.jpg" %}" alt="Product" />
                                                        <img class="hover-image"
                                                            src="{% static "assets/images/product-image/1_2.jpg" %}" alt="Product" /> 
                                                    {% endif %}
        
                                                    
                                                </a>
                                                <a href="#" class="quickview" data-link-action="quickview"
                                                    title="Quick view" data-bs-toggle="modal"
                                                    data-bs-target="#ec_quickview_modal"><img
                                                        src="{% static "assets/images/icons/quickview.svg" %}" class="svg_img pro_svg"
                                                        alt="" /></a>
                                                <div class="ec-pro-actions">
                                                    <a href="compare.html" class="ec-btn-group compare"
                                                        title="Compare"><img src="{% static "assets/images/icons/compare.svg" %}"
                                                            class="svg_img pro_svg" alt="" /></a>
                                                    <button title="Add To Cart" class=" add-to-cart"><img
                                                            src="{% static "assets/images/icons/cart.svg" %}" class="svg_img pro_svg"
                                                            alt="" /> Add To Cart</button>
                                                    <a class="ec-btn-group wishlist" title="Wishlist"><img
                                                            src="{% static "assets/images/icons/wishlist.svg" %}"
                                                            class="svg_img pro_svg" alt="" /></a>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="ec-pro-content">
                                            <h5 class="ec-pro-title"><a href="{% url "catalog:product" product.article %}">{{ product.name }}</a></h5>
                                            <div class="ec-pro-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star"></i>
                                            </div>
                                            <div class="ec-pro-list-desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dutmmy text ever since the 1500s, when an unknown printer took a galley.</div>
                                            <span class="ec-price">
                                                {% if product.discount %}
                                                    <span class="old-price">{{ product.price }} ₽</span>
                                                    <span class="new-price">{{ product.sell_price }} ₽</span>
                                                {% else %}
                                                    <span class="new-price">{{ product.price }} ₽</span>
                                                {% endif %}
                                                
                                            </span>
                                        </div>  
                                    </div>
                                </div>
                                {% endfor %}
                                {% else %}
                                <h3>Товары не найдены</h3>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


        
{% endblock %}