{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block content %} 

    <!-- Ec breadcrumb start -->
    {% block breadcrumb %}
        {% include "includes/breadcrumb.html" %}
    {% endblock  %}
    <!-- Ec breadcrumb end -->

    <!--  Category Section Start -->
    <section class="section ec-category-section ec-category-wrapper-5 section-space-p">
        <div class="container ec-category-wrapper-5">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">Каталог</h2>
                        <h2 class="ec-title">Каталог</h2>
                    </div>
                </div>
            </div>
            <div class="row cat-space-2 margin-minus-tb-15">
                {% if categories %}
                    {% for category in categories %}
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="cat-card category_block category_image">
                                {% if category.image %}
                                    <img class="cat-icon" src="{{ category.image.url }}" alt="{{ category.slug }}">
                                {% else %}
                                    <img class="cat-icon" src="{% static "assets/images/cat-banner/11.jpg" %}" alt="cat-icon">
                                {% endif %}
                                <a class="btn-primary btn-primary-1" href="{% url "catalog:subcategories" category.slug %}">Перейти</a>
                                <div class="cat-detail">
                                    <div class="cat-detail-block">
                                        <h4>{{ category.name }}</h4>
                                        <h5>Количество товаров <br>{% products_count_category category.id %}</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p>Категории и товары пока не добавлены</p>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}