{% extends "base.html" %}
{% load static %}

{% block content %} 

    <!-- Ec breadcrumb start -->
    {% block breadcrumb %}
        {% include "includes/breadcrumb.html" %}
    {% endblock  %}
    <!-- Ec breadcrumb end -->
 
    
    <!-- Sart Single product -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="ec-pro-rightside ec-common-rightside col-lg-12 col-md-12">

                    <!-- Single product content Start -->
                    <div class="single-pro-block">
                        <div class="single-pro-inner">
                            <div class="row">
                                <div class="single-pro-img single-pro-img-no-sidebar">
                                    <div class="single-product-scroll">
                                        <div class="single-product-cover">
                                            {% if product.images.all %}
                                                {% for img in product.images.all %}
                                                    <div class="single-slide zoom-image-hover product_block">
                                                        <img class="img-responsive product_image" src="{{ img.image.url }}"
                                                            alt="">
                                                    </div>
                                                {% endfor %}
                                            {% else %}      
                                                <div class="single-slide">
                                                    <img class="img-responsive" src="{% static "assets/images/product-360/1_2.jpg" %}"
                                                        alt="">
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="single-nav-thumb">
                                            {% if product.images.all %}
                                                {% for img in product.images.all %}
                                                    <div class="single-slide product_min_block">
                                                        <img class="img-responsive" src="{{ img.image.url }}"
                                                            alt="">
                                                    </div>
                                                {% endfor %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="single-pro-desc single-pro-desc-no-sidebar">
                                    <div class="single-pro-content">
                                        <h5 class="ec-single-title">{{ product.name }}</h5>
                                        <div class="ec-single-rating-wrap">
                                            <div class="ec-single-rating">
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star fill"></i>
                                                <i class="ecicon eci-star-o"></i>
                                            </div>
                                            <span class="ec-read-review"><a href="#ec-spt-nav-review">Be the first to
                                                    review this product</a></span>
                                        </div>
                                        {% if product.description %}
                                            {% for description in product.description %}
                                                <div class="ec-single-pro-tab-desc">
                                                    {{ description }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        <div class="ec-single-price-stoke mt-3">
                                            <div class="ec-single-price">
                                                {% if product.discount %}
                                                    <span class="ec-single-ps-title">Скидка {{ product.discount }}%</span>
                                                    <span class="old-price">{{ product.price }} ₽</span>
                                                    <span class="new-price">{{ product.sell_price }} ₽</span>
                                                {% else %}
                                                    <span class="new-price">{{ product.price }} ₽</span>
                                                {% endif %}
                                            </div>
                                            <div class="ec-single-stoke">
                                                <span class="ec-single-ps-title">{% if product.quantity == 0 %} Пока нет в наличии {% else %} В наличии: {{ product.quantity }}{% endif %}</span>
                                                <span class="ec-single-sku">{{ product.article }}</span>
                                            </div>
                                        </div>
                                        <div class="ec-pro-variation">
                                            <div class="ec-pro-variation-inner ec-pro-variation-size">
                                                <span>Бренд</span>
                                                <div class="ec-pro-variation-content">
                                                    <span>{{ product.brand }}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ec-single-qty">
                                            <div class="qty-plus-minus">
                                                <div class="dec ec_qtybtn">-</div>
                                                <input class="qty-input" type="text" name="ec_qtybtn" 
                                                data-product-id="{{ product.id }}" 
                                                value="1" 
                                                readonly/>
                                                <div class="inc ec_qtybtn">+</div>
                                            </div>
                                            <div class="ec-single-cart">
                                                <a href="{% url "cart:cart_add" %}" 
                                                class="btn btn-primary add-to-cart">{% csrf_token %} Добавить в корзину</a>
                                            </div>
                                            <div class="ec-single-wishlist">
                                                <a href="{% url "user:wishlist_add" %}"
                                                    data-product-id="{{ product.id }}"
                                                    data-in-wishlist="{{ in_wishlist }}"
                                                    class="ec-btn-group wishlist {% if in_wishlist %} active {% endif %}" 
                                                    title="Избранное">
                                                    <img src="{% static "assets/images/icons/wishlist.svg" %}" class="svg_img pro_svg"
                                                    alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Single product content End -->
                    <!-- Single product tab start -->
                    <div class="ec-single-pro-tab">
                        <div class="ec-single-pro-tab-wrapper">
                            <div class="ec-single-pro-tab-nav">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab"
                                            data-bs-target="#ec-spt-nav-details" role="tablist">Описание</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#ec-spt-nav-info"
                                            role="tablist">Характеристики</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#ec-spt-nav-review"
                                            role="tablist">Отзывы</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="tab-content  ec-single-pro-tab-content">
                                <div id="ec-spt-nav-details" class="tab-pane fade show active">
                                    <div class="ec-single-pro-tab-desc">
                                        {% if product.description %}
                                            {% for description in product.description %}
                                                <p>{{ description }}</p>
                                            {% endfor %}
                                        {% else %}
                                            <p>Описание отсутствует</p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div id="ec-spt-nav-info" class="tab-pane fade">
                                    <div class="ec-single-pro-tab-moreinfo">
                                        {% if product.specifications %}
                                            <ul>
                                                {% for title, value in product.specifications.items %}
                                                    {% if value %}
                                                        <li><span>{{ title }}</span> {{ value }}</li>
                                                    {% else %}
                                                        <li><span>{{ title }}</span> нет данных</li>
                                                    {% endif %}
                                                {% empty %}
                                                    <li>Характеристики отсутствуют</li>
                                                {% endfor %}
                                            </ul>
                                        {% else %}
                                            <p>Характеристики отсутствуют</p>
                                        {% endif %}
                                        {% comment %} <ul>
                                            <li><span>Weight</span> 1000 g</li>
                                            <li><span>Dimensions</span> 35 × 30 × 7 cm</li>
                                            <li><span>Color</span> Black, Pink, Red, White</li>
                                        </ul> {% endcomment %}
                                    </div>
                                </div>

                                <div id="ec-spt-nav-review" class="tab-pane fade">
                                    <div class="row">
                                        <div class="ec-t-review-wrapper">
                                            <div class="ec-t-review-item">
                                                <div class="ec-t-review-avtar">
                                                    <img src="{% static "assets/images/review-image/1.jpg" %}" alt="" />
                                                </div>
                                                <div class="ec-t-review-content">
                                                    <div class="ec-t-review-top">
                                                        <div class="ec-t-review-name">Jeny Doe</div>
                                                        <div class="ec-t-review-rating">
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="ec-t-review-bottom">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text ever since the 1500s, when an unknown
                                                            printer took a galley of type and scrambled it to make a
                                                            type specimen.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="ec-t-review-item">
                                                <div class="ec-t-review-avtar">
                                                    <img src= "{% static "assets/images/review-image/2.jpg" %}" alt="" />
                                                </div>
                                                <div class="ec-t-review-content">
                                                    <div class="ec-t-review-top">
                                                        <div class="ec-t-review-name">Linda Morgus</div>
                                                        <div class="ec-t-review-rating">
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="ec-t-review-bottom">
                                                        <p>Lorem Ipsum is simply dummy text of the printing and
                                                            typesetting industry. Lorem Ipsum has been the industry's
                                                            standard dummy text ever since the 1500s, when an unknown
                                                            printer took a galley of type and scrambled it to make a
                                                            type specimen.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="ec-ratting-content">
                                            <h3>Add a Review</h3>
                                            <div class="ec-ratting-form">
                                                <form action="#">
                                                    <div class="ec-ratting-star">
                                                        <span>Your rating:</span>
                                                        <div class="ec-t-review-rating">
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star fill"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                            <i class="ecicon eci-star-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="ec-ratting-input">
                                                        <input name="your-name" placeholder="Name" type="text" />
                                                    </div>
                                                    <div class="ec-ratting-input">
                                                        <input name="your-email" placeholder="Email*" type="email"
                                                            required />
                                                    </div>
                                                    <div class="ec-ratting-input form-submit">
                                                        <textarea name="your-commemt"
                                                            placeholder="Enter Your Comment"></textarea>
                                                        <button class="btn btn-primary" type="submit"
                                                            value="Submit">Submit</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- product details description area end -->
                </div>

            </div>
        </div>
    </section>
    <!-- End Single product -->

{% endblock %}