{% extends "base.html" %}
{% load goods_tags %}
{% load static %}

{% block content %} 

    <!-- Ec breadcrumb start -->
    {% block breadcrumb %}
        {% include "includes/breadcrumb.html" %}
    {% endblock  %}
    <!-- Ec breadcrumb end -->

        <!--  Category Section Start -->
        <section class="section ec-category-section ec-category-wrapper-5 section-space-p">
            <div class="container ec-category-wrapper-5">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="section-title">
                            <h2 class="ec-bg-title">Категория: {{ category.name }}</h2>
                            <h2 class="ec-title">Категория: {{ category.name }}</h2>
                            {% comment %} <p class="sub-title">Browse The Collection of Top Categories</p> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="row cat-space-2 margin-minus-tb-15">

                    {% for subcategory in subcategories %}
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="cat-card category_block category_image">
                            {% if subcategory.image %}
                                <img src="{{ subcategory.image.url }}" alt="{{ subcategory.slug }}">
                            {% else %}
                                <img class="cat-icon" src="{% static "assets/images/cat-banner/12.jpg" %}" alt="cat-icon">
                            {% endif %}
                            <a class="btn-primary btn-primary-1" href="{% url "catalog:search" subcategory.slug %}">Перейти</a>
                            <div class="cat-detail">
                                <div class="cat-detail-block">
                                    <h4>{{ subcategory.name }}</h4>
                                    <h5>Количество товаров <br>{% products_count_subcategory subcategory.id %}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>

{% endblock %}