{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Ec login page -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">Авторизация</h2>
                        <h2 class="ec-title">Авторизация</h2>
                        {% comment %} <p class="sub-title mb-3">Тестовые данные для входа:</p> {% endcomment %}
                    </div>
                </div>
                <div class="ec-login-wrapper">
                    <div class="ec-login-container">
                        <div class="ec-login-form">
                            <form action="{% url "user:login" %}" method="post">
                                {% csrf_token %}

                                {% if request.GET.next %}
                                    <input type="hidden" name="next" value={{ request.GET.next }}>
                                {% endif %}

                                {% comment %} <span class="ec-login-wrap">
                                    <label for="id_email">Введите email*</label>
                                    <input type="text" name="email" id="id_email" 
                                    value="{% if form.email.value %}{{ form.email.value }}{% endif %}" 
                                    placeholder="Введите email..." required />
                                </span> {% endcomment %}
                                <span class="ec-login-wrap">
                                    <label for="id_username">Введите email*</label>
                                    <input type="text" name="username" id="id_username" 
                                    value="{% if form.username.value %}{{ form.username.value }}{% endif %}" 
                                    placeholder="Введите логин..." required />
                                </span>
                                <span class="ec-login-wrap">
                                    <label for="id_password">Введите пароль*</label>
                                    <input type="password" name="password" id="id_password"
                                    placeholder="Введите пароль..." required />
                                </span>
                                <span class="ec-login-wrap ec-login-fp">
                                    <label><a href="#">Забыли пароль?</a></label>
                                </span>
                                <span class="ec-login-wrap ec-login-btn">
                                    <button class="btn btn-primary" type="submit">Вход</button>
                                    <a href="{% url "users:registration" %}" class="btn btn-secondary">Регистрация</a>
                                </span>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}