{% extends "base.html" %}
{% load static %}
{% load wishlist_tags %}

{% block content %}

    <!-- User history section -->
    <section class="ec-page-content ec-vendor-uploads ec-user-account wishlist-2 section-space-p">
        <div class="container">
            <div class="row">
                <!-- Sidebar Area Start -->
                {% include "users/includes/sidebar.html" %}
                <!-- Sidebar Area End -->

                <div class="ec-shop-rightside col-lg-9 col-md-12">
                    <div class="ec-vendor-dashboard-card">
                        <div class="ec-vendor-card-header">
                            <h5>{{ title }}</h5>
                            <div class="ec-header-btn">
                                <a class="btn btn-lg btn-primary" href="{% url "catalog:categories" %}">Перейти к покупкам</a>
                            </div>
                        </div>
                        <div class="ec-vendor-card-body">
                            <!-- Разметка таблицы с избранными товарами -->
                            <div class="ec-vendor-card-table" id="wishlist-items-container">
                                {% include "users/includes/wishlist_items.html" %}
                            </div>
                            <!-- Закончилась разметка с избранными товарами -->
                        </div>
                        {% if wishlist_products %}
                        <!-- Ec Pagination Start -->
                        <div class="ec-pro-pagination justify-content-end">
                            <ul class="ec-pro-pagination-inner">
                                <li><a class="next {% if not page_obj.has_previous %} disabled {% endif %}"
                                    href="{% if page_obj.has_previous %}?{% change_params page=page_obj.previous_page_number %}
                                    {% else %}
                                    #
                                    {% endif %}"><i class="ecicon eci-angle-left"></i>&nbspНазад</a></li>
                                    {% for page in page_obj.paginator.page_range %}
                                        {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                                        <li><a class="{% if page_obj.number == page %} active {% endif %}" href="?{% change_params page=page %}">
                                            {{ page }}</a>
                                        </li>
                                        {% endif %}
                                    {% endfor %}

                                <li><a class="next {% if not page_obj.has_next %} disabled {% endif %}" 
                                    href="{% if page_obj.has_next %}?{% change_params page=page_obj.next_page_number %}
                                    {% else %}
                                    #
                                    {% endif %}">Далее <i class="ecicon eci-angle-right"></i></a></li>
                            </ul>
                        </div>
                        <!-- Ec Pagination End -->
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End User history section -->

{% endblock %}