{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- User history section -->
    <section class="ec-page-content ec-vendor-uploads ec-user-account wishlist-2 section-space-p">
        <div class="container">
            <div class="row">
                <!-- Sidebar Area Start -->
                {% include "users/includes/sidebar.html" %}
                <!-- Sidebar Area End -->

                <div class="ec-shop-rightside col-lg-9 col-md-12">
                    <div class="ec-vendor-dashboard-card">
                        <div class="ec-vendor-card-header">
                            <h5>{{ title }}</h5>
                            <div class="ec-header-btn">
                                <a class="btn btn-lg btn-primary" href="{% url "catalog:search" "all" %}">Перейти к покупкам</a>
                            </div>
                        </div>
                        <div class="ec-vendor-card-body">
                            <!-- Разметка таблицы с избранными товарами -->
                            <div class="ec-vendor-card-table" id="wishlist-items-container">
                                {% include "users/includes/wishlist_items.html" %}
                            </div>
                            <!-- Закончилась разметка с избранными товарами -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End User history section -->

{% endblock %}