{% extends "base.html" %}
{% load static %}

{% block content %} 

    <!-- Ec breadcrumb start -->
    {% block breadcrumb %}
        {% include "includes/breadcrumb.html" %}
    {% endblock  %}
    <!-- Ec breadcrumb end -->

    <!-- Ec About Us page -->
    <section class="sec-3 section-space-p">
        <div class="container">
            <div class="row">
                <h2 class="ec-title-lbg"><span>О магазине</span></h2>
                <p>Проект представляет собой интернет-магазин музыкальных инструментов и аксессуаров.</p>
                <p>Данные были взяты с сайта <a href="https://www.muztorg.ru/" target="_blank">Музторг - www.muztorg.ru</a>.</p>
                <p>С указанного ресурса с помощью парсинга были собраны наименования категорий, подкатегорий, типов и брендов, 
                    а также основные сведения о товарах. Так как проект создан для практики, было принято решение собрать 
                    не все данные, а только часть их. Наличие и скидки были проставлены рандомно.</p>
            </div>
        </div>
    </section>
     
{% endblock %}