{% extends "base.html" %}
{% load static %}

{% block content %} 

    <!-- Ec breadcrumb start -->
    {% block breadcrumb %}
        {% include "includes/breadcrumb.html" %}
    {% endblock  %}
    <!-- Ec breadcrumb end -->

    <!-- Ec About Us page -->
    <section class="ec-page-content section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">О магазине</h2>
                        <h2 class="ec-title">О магазине</h2>
                        {% comment %} <p class="sub-title mb-3">About our business Firm</p> {% endcomment %}
                    </div>
                </div>
                <div class="ec-common-wrapper">
                    <div class="row">
                        <div class="col-md-6 ec-cms-block ec-abcms-block text-center">
                            <div class="ec-cms-block-inner">
                            <img class="a-img" src="{% static "assets/images/offer-image/1.jpg" %}"alt="about">
                            </div>
                        </div>
                        <div class="col-md-6 ec-cms-block ec-abcms-block text-center">
                            <div class="ec-cms-block-inner">
                                {% comment %} <h3 class="ec-cms-block-title"></h3> {% endcomment %}
                                <p>Проект представляет собой интернет-магазин музыкальных инструментов и аксессуаров.</p>
                                <p>Данные были взяты с сайта <a href="https://www.muztorg.ru/" target="_blank">Музторг - www.muztorg.ru</a>.</p>
                                <p>С указанного ресурса с помощью парсинга были собраны наименования категорий, подкатегорий, брендов, 
                                    а также основные сведения о товарах. Так как проект создан для практики, было принято решение собрать 
                                    не все данные, а только часть их.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
     
{% endblock %}