{% extends "base.html" %}
{% load static %}
{% load cache %}
{% load goods_tags %}

{% block content %} 
     <!-- Main Slider Start -->
     <div class="sticky-header-next-sec ec-main-slider section section-space-pb">
         <div class="ec-slider swiper-container main-slider-nav main-slider-dot">
             <!-- Main slider -->
             <div class="swiper-wrapper">
                {% slider_products as top_products %}
                {% if top_products %}
                    {% cache 60 top_products %}
                    {% for product in top_products %}
                    <div class="ec-slide-item swiper-slide d-flex ec-slide-1">
                        <div class="container align-self-center">
                            <div class="row">
                                <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                                    <div class="ec-slide-content slider-animation">
                                        <h1 class="ec-slide-title">{{ product.name }}</h1>
                                        <h2 class="ec-slide-stitle">{{ product.sell_price }} ₽</h2>
                                        <h4><s>{{ product.price }} ₽</s></h4>
                                        <p>Скидка {{ product.discount }} %</p>
                                        <a href="{% url "catalog:product" product.article %}" class="btn btn-lg btn-secondary">Перейти к товару</a>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-5 col-md-5 col-sm-5">
                                        <img src="{{ product.images.first.image.url }}" alt="{{ product.name }}" />
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endcache %}
                {% else %}
                <div class="ec-slide-item swiper-slide d-flex ec-slide-1">
                    <div class="container align-self-center">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7 col-md-7 col-sm-7 align-self-center">
                                <div class="ec-slide-content slider-animation">
                                    <h1 class="ec-slide-title">Название товара</h1>
                                    <h2 class="ec-slide-stitle">Цена по скидке ₽</h2>
                                    <h4><s>Цена без скидки ₽</s></h4>
                                    <p>Скидка в %</p>
                                    <a href="#" class="btn btn-lg btn-secondary">Перейти к товару</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
             </div>
             <div class="swiper-pagination swiper-pagination-white"></div>
             <div class="swiper-buttons">
                 <div class="swiper-button-next"></div>
                 <div class="swiper-button-prev"></div>
             </div>
         </div>
     </div>
     <!-- Main Slider End -->
 
     <!-- New Product Start -->
     <section class="section ec-new-product section-space-p" id="arrivals">
         <div class="container">
             <div class="row">
                 <div class="col-md-12 text-center">
                     <div class="section-title">
                         <h2 class="ec-bg-title">Новые поступления</h2>
                         <h2 class="ec-title">Новые поступления</h2>
                         <p class="sub-title">Недавно добавленные товары</p>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <!-- New Product Content -->
                 {% new_arrivals as new_products %}
                 {% if new_products %}
                 {% cache 60 new_products %}
                    {% for product in new_products %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content" data-animation="flipInY">
                        <div class="ec-product-inner">
                            <div class="ec-pro-image-outer">
                                <div class="ec-pro-image prod_block">
                                    <a href="{% url "catalog:product" product.article %}" class="image">
                                        {% if product.images.first.image.url %}
                                            <img class="main-image prod_image" src="{{ product.images.first.image.url }}"
                                                alt="{{ product.name }}" />
                                        {% else %}
                                            <img class="main-image" src="{% static "assets/images/product-image/9_2.jpg" %}"
                                                alt="{{ product.name }}" />
                                        {% endif %}
                                    </a>
                                    <span class="flags">
                                        <span class="sale">Скидка</span>
                                    </span>
                                    <div class="ec-pro-actions">
                                        <a href="{% url "cart:cart_add" %}" 
                                            title="Добавить в корзину"
                                            class="btn add-to-cart"
                                            data-product-id="{{ product.id }}">
                                            {% csrf_token %}
                                            <img src="{% static "assets/images/icons/cart.svg" %}" 
                                                class="svg_img pro_svg" alt="" />
                                        </a>
                                        <a href="{% url "user:wishlist_add" %}"
                                            title="Избранное"
                                            class="ec-btn-group wishlist {% if product.id in wishlist_product_ids %}active{% endif %}"
                                            data-product-id="{{ product.id }}"
                                            data-in-wishlist="{% if product.id in wishlist_product_ids %}true{% else %}false{% endif %}">
                                            {% csrf_token %}
                                            <img src="{% static "assets/images/icons/wishlist.svg" %}"
                                                class="svg_img pro_svg" alt="" />
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-pro-content">
                                <h5 class="ec-pro-title"><a href="{% url "catalog:product" product.article %}">{{ product.name }}</a></h5>
                                <span class="ec-price">
                                    <span class="old-price">{{ product.price }} ₽</span>
                                    <span class="new-price">{{ product.sell_price }} ₽</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endcache %}
                 {% else %}
                    {% for i in test_top_products %}
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content" data-animation="flipInY">
                        <div class="ec-product-inner">
                            <div class="ec-pro-image-outer">
                                <div class="ec-pro-image">
                                    <a href="#" class="image">
                                        <img class="main-image" src="{% static "assets/images/product-image/9_1.jpg" %}"
                                            alt="Product" />
                                        <img class="hover-image" src="{% static "assets/images/product-image/9_2.jpg" %}"
                                            alt="Product" />
                                    </a>
                                    <span class="flags">
                                        <span class="sale">Скидка</span>
                                    </span>
                                    <div class="ec-pro-actions">
                                        <button title="Add To Cart" class="add-to-cart"><img
                                                src="{% static "assets/images/icons/cart.svg" %}" class="svg_img pro_svg" alt="" />Добавить в корзину</button>
                                        <a class="ec-btn-group wishlist" title="Wishlist"><img
                                                src="{% static "assets/images/icons/wishlist.svg" %}" class="svg_img pro_svg" alt="" /></a>
                                    </div>
                                </div>
                            </div>
                            <div class="ec-pro-content">
                                <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Название товара</a></h5>
                                <span class="ec-price">
                                    <span class="old-price">Цена без скидки</span>
                                    <span class="new-price">Цена со скидкой</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                 {% endif %}
                 <div class="col-sm-12 shop-all-btn"><a href="{% url "catalog:categories" %}">Перейти в каталог</a>
                 </div>
             </div>
         </div>
     </section>
     <!-- New Product end -->
 
     <!-- ec testmonial Start -->
     {% comment %} <section class="section ec-test-section section-space-ptb-100 section-space-m" id="reviews">
         <div class="container">
             <div class="row">
                 <div class="col-md-12 text-center">
                     <div class="section-title mb-0">
                         <h2 class="ec-bg-title">Отзывы</h2>
                         <h2 class="ec-title">Отзывы</h2>
                         <p class="sub-title mb-3">Что говорят клиенты о наших товарах:</p>
                     </div>
                 </div>
             </div>
             <div class="row">
                 <div class="ec-test-outer">
                     <ul id="ec-testimonial-slider">
                         <li class="ec-test-item">
                             <img src="{% static "assets/images/testimonial/top-quotes.svg" %}" class="svg_img test_svg top" alt="" />
                             <div class="ec-test-inner">
                                 <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                         src="{% static "assets/images/testimonial/1.jpg" %}" /></div>
                                 <div class="ec-test-content">
                                     <div class="ec-test-desc">Lorem Ipsum is simply dummy text of the printing and
                                         typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                         ever since the 1500s, when an unknown printer took a galley of type and
                                         scrambled it to make a type specimen</div>
                                     <div class="ec-test-name">John Doe</div>
                                     <div class="ec-test-designation">General Manager</div>
                                     <div class="ec-test-rating">
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                     </div>
                                 </div>
                             </div>
                             <img src="{% static "assets/images/testimonial/bottom-quotes.svg" %}" class="svg_img test_svg bottom"
                                 alt="" />
                         </li>
                         <li class="ec-test-item ">
                             <img src="{% static "assets/images/testimonial/top-quotes.svg" %}" class="svg_img test_svg top" alt="" />
                             <div class="ec-test-inner">
                                 <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                         src="{% static "assets/images/testimonial/2.jpg" %}" /></div>
                                 <div class="ec-test-content">
                                     <div class="ec-test-desc">Lorem Ipsum is simply dummy text of the printing and
                                         typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                         ever since the 1500s, when an unknown printer took a galley of type and
                                         scrambled it to make a type specimen</div>
                                     <div class="ec-test-name">John Doe</div>
                                     <div class="ec-test-designation">General Manager</div>
                                     <div class="ec-test-rating">
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                     </div>
                                 </div>
                             </div>
                             <img src="{% static "assets/images/testimonial/bottom-quotes.svg" %}" class="svg_img test_svg bottom"
                                 alt="" />
                         </li>
                         <li class="ec-test-item">
                             <img src="{% static "assets/images/testimonial/top-quotes.svg" %}" class="svg_img test_svg top" alt="" />
                             <div class="ec-test-inner">
                                 <div class="ec-test-img"><img alt="testimonial" title="testimonial"
                                         src="{% static "assets/images/testimonial/3.jpg" %}" /></div>
                                 <div class="ec-test-content">
                                     <div class="ec-test-desc">Lorem Ipsum is simply dummy text of the printing and
                                         typesetting industry. Lorem Ipsum has been the industry's standard dummy text
                                         ever since the 1500s, when an unknown printer took a galley of type and
                                         scrambled it to make a type specimen</div>
                                     <div class="ec-test-name">John Doe</div>
                                     <div class="ec-test-designation">General Manager</div>
                                     <div class="ec-test-rating">
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                         <i class="ecicon eci-star fill"></i>
                                     </div>
                                 </div>
                             </div>
                             <img src="{% static "assets/images/testimonial/bottom-quotes.svg" %}" class="svg_img test_svg bottom"
                                 alt="" />
                         </li>
                     </ul>
                 </div>
             </div>
         </div>
     </section> {% endcomment %}
     <!-- ec testmonial end -->
 
     <!-- Ec Brand Start -->
     <section class="section ec-instagram-section module section-space-p" id="brands">
         <div class="container">
             <div class="row">
                 <div class="col-md-12 text-center">
                     <div class="section-title">
                         <h2 class="ec-bg-title">Бренды</h2>
                         <h2 class="ec-title">Бренды</h2>
                         <p class="sub-title">В магазине представлены:</p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="ec-insta-wrapper">
             <div class="ec-insta-outer">
                 <div class="container" data-animation="fadeIn">
                     <div class="insta-auto">
                         {% top_brands as brands %}
                         {% if not brands %}
                         <div class="ec-insta-item">
                             <div class="ec-insta-inner">
                                 <img src="{% static 'assets/images/brand-image/1.png' %}" alt="brand">
                             </div>
                         </div>
                         {% else %}
                            {% cache 60 brands %}
                            {% for brand in brands %}
                            <!-- Brand item -->
                            <div class="ec-insta-item">
                                <div class="ec-insta-inner">
                                    <img src="{{ brand.image.url }}"
                                            alt="{{ brand.name }}">
                                </div>
                            </div>
                            <!-- Brand item -->
                            {% endfor %}
                            {% endcache %}
                         {% endif %}
                     </div>
                 </div>
             </div>
         </div>
     </section>
     <!-- Ec Brand End -->
{% endblock %}
 
  