{% extends "base.html" %}
{% load static %}

{% block content %} 

    <!-- Ec breadcrumb start -->
    {% block breadcrumb %}
        {% include "includes/breadcrumb.html" %}
    {% endblock  %}
    <!-- Ec breadcrumb end -->

    <!-- Project page -->
    <section class="sec-3 section-space-p">
        <div class="container">
            <div class="row">
                <h2 class="ec-title-lbg"><span>О проекте</span></h2>
                <p>Проект представляет собой интернет-магазин музыкальных инструментов и аксессуаров.
                    В каталоге на данный момент представлено четыре категории, каждая из которых подразделяется на подкатегории, 
                    некоторые из которых поделены на типы.</p>
            </div>
        </div>
    </section>
    <section class="sec-heading section-space-p">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2 class="ec-bg-title">Обзор функционала</h2>
                        <h2 class="ec-title">Обзор функционала</h2>
                    </div>
                </div>
            </div>
            <div class="row typography margin-minus-b-15">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="ec-dl-blurbs">
                        <dl>
                            <dt>Функционал каталога:</dt>
                        </dl>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <ul class="ec-check-list">
                        <li>поиск товаров по артикулу или по словам из названия и описания;</li>
                        <li>фильтрация по бренду и по наличию скидки;</li>
                        <li>сортировка по цене (по возрастанию и убыванию);</li>
                        <li>фильтрация по типу товара (для тех товаров, у которых они есть).</li>
                    </ul>
                </div>
            </div>
            <div class="row typography margin-minus-b-15 mt-5">
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="ec-dl-blurbs">
                        <dl>
                            <dt>Функционал пользователя:</dt>
                        </dl>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <ul class="ec-check-list">
                        <li>регистрация;</li>
                        <li>авторизация;</li>
                        <li>редактирование данных своего аккаунта в профиле;</li>
                        <li>добавление товаров в избранное;</li>
                        <li>добавление товаров в корзину;</li>
                        <li>редактирование корзины (изменение количества покупаемого товара и удаление позиций);</li>
                        <li>оформление заказа;</li>
                        <li>просмотр истории заказов;</li>
                        <li>просмотр состава заказа;</li>
                        <li>отмена заказа со статусом "в обработке".</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
